SMTP_HOST=smtps.aruba.it
SMTP_PORT=465
SMTP_SECURE=true
SMTP_AUTH_METHOD=LOGIN
SMTP_CLIENT_NAME=saporedicarne.it
SMTP_USER=indirizzo-email-aruba
SMTP_PASSWORD=password-email-aruba
LEAD_RECIPIENT_EMAIL=email-interna-destinazione
